#Data type and structures - Assignment
#Theoritical Questions Solutions

1. What are data structures, and why are they important?

- Data structures are basically different ways to store and organize data in a program so that we can use it easily. In Python, we have list, tuple, dictionary, and set. These help us manage large amounts of data properly.

Example:
If we want to store names of students, we can use a list like this:

In [4]:
students = ["Rahul", "Amit", "Priya"]

2. Explain the difference between mutable and immutable data types with examples.

- Mutable means the value can be changed after creating the object.

- Immutable means the value cannot be changed.
Mutable example:

In [3]:
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

[10, 2, 3]

Immutable example:

In [8]:
my_str = "Hello"
# my_str[0] = 'Y'
# This will give error, because strings are immutable

3. What are the main differences between lists and tuples in Python?

  - In Python, lists are **mutable**, meaning their items can be changed, added, or removed. Tuples are **immutable**, so their data remains fixed. Lists use `[]`, while tuples use `()`. Tuples are slightly **faster** and safer for fixed data, while lists are better when the data needs modification.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

4. Describe how dictionaries store data.

- Dictionaries store data in key-value pairs. It’s like a real dictionary, where a word (key) has a meaning (value).
In Python, it looks like this:

In [ ]:
student = {"name": "Ravi", "age": 20}
print(student["name"])  # Output: Ravi

5. Why might you use a set instead of a list in Python?

- Sets are used when we don’t want duplicate values and we don’t care about the order of items.

- Example:

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

6. What is a string in Python, and how is it different from a list?

- A string is a sequence of characters, like words or sentences.

- Difference from list:

- A string is immutable.

- A list can hold multiple data types, but strings hold only characters.

Example:

In [ ]:
my_str = "hello"
my_list = ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

- Tuples are immutable, which means once we create them, we can't change their content. So, they are good for storing fixed data that should not be modified.

Example:

In [ ]:
days = ("Monday", "Tuesday", "Wednesday")
# No one can change the order or names accidentally

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a way of storing data so that we can access it fast using a key.
Python dictionaries use hash tables behind the scenes to store the key-value pairs.

Example:

In [9]:
my_dict = {"a": 1, "b": 2}
Here "a" and "b" are hashed and used to quickly find their values

9. Can lists contain different data types in Python?

- Yes, in Python, a list can contain different types of data like numbers, strings, or even other lists.

Example:

In [10]:
my_list = [10, "Hello", 3.14, [1, 2]]
print(my_list)

[10, 'Hello', 3.14, [1, 2]]

10. Explain why strings are immutable in Python.


- Strings are immutable so that they are safe to use and don’t get changed by accident.
Also, it helps in making Python programs faster and memory-efficient.

Example:

In [ ]:
text = "apple"
# text[0] = "b"  → This will give an error

11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries are better than lists when we need to store and access data using keys instead of just positions (indexes). They make it easy to find values using a key, which is faster and more readable, especially when handling large datasets.

12. Describe a scenario where using a tuple would be preferable over a list.

- If we are storing fixed data that should not change, like the days of the week or coordinates of a location, using a tuple is better. Since tuples are immutable, the data stays protected from accidental changes.

Example:

In [ ]:
days = ("Mon", "Tue", "Wed")

13. How do sets handle duplicate values in Python?

- Sets automatically remove duplicate values. If we add the same item more than once, it will only keep one copy. This is useful when we want to make sure all items are unique.

Example:

In [12]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

14. How does the "in" keyword work differently for lists and dictionaries?

- In a list, the "in" keyword checks if a value exists in the list.
In a dictionary, "in" only checks for keys, not values.

Example:

In [13]:
my_list = [1, 2, 3]
print(2 in my_list)  # True

my_dict = {"a": 1, "b": 2}
print("a" in my_dict)  # True
print(2 in my_dict)    # False

True
True
False

15. Can you modify the elements of a tuple? Explain why or why not.

- No, we cannot modify elements of a tuple because tuples are immutable in Python. Once a tuple is created, its contents can’t be changed, which helps protect the data from being altered by mistake.

16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary means a dictionary inside another dictionary. It's useful when we want to store detailed information in a structured way.

Example:

In [14]:
student = {
  "name": "Ankit",
  "marks": {"math": 90, "science": 85}
}
print(student["marks"]["math"])  # Output: 90

90

17. Describe the time complexity of accessing elements in a dictionary.

- The average time complexity for accessing a value from a dictionary using a key is O(1), which means it’s very fast, even with lots of data, because Python uses hash tables to manage dictionaries.

18. In what situations are lists preferred over dictionaries?

- Lists are preferred when we only need to store a sequence of items and access them using positions (indexes), like a list of numbers, names, or items in order. Lists are simple and take less memory compared to dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Before Python 3.7, dictionaries were unordered, meaning they didn’t keep the order of items. Now, they keep insertion order, but still, data is accessed using keys, not positions. So, we don’t use indexes to retrieve values like in lists.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- In a list, data is retrieved using indexes (positions) like list[0].

- In a dictionary, data is retrieved using keys like dict["name"].
So, dictionaries are better for storing data with labels, while lists are better for ordered items.

# Practical Questions- Solutions

1. Write a code to create a string with your name and print it.

In [15]:
name = "Suraj"
print(name)

Suraj

2. Write a code to find the length of the string "Hello World".

In [16]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [18]:
my_str = "Python Programming"
print(my_str[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [19]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [23]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [25]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [26]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [27]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [28]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Output: b

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [29]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [30]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [31]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [33]:
numbers = (10, 20, 5, 15)
print(min(numbers))  # Output: 5

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [34]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))  # Output: 1

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [35]:
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)  # Output: True

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [36]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [37]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)  # Output: set()

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [38]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [39]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [40]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)  # Output: {2, 3}

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [41]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': "John", 'age': 25}

In [42]:
person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [43]:
info = {"name": "Alice", "age": 30}
print(info["name"])  # Output: Alice

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [44]:
person = {"name": "Bob", "age": 22, "city": "New York"}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [45]:
data = {"name": "Alice", "city": "Paris"}
print("city" in data)  # Output: True

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [46]:
my_list = [1, 2, 3]
my_tuple = ("a", "b", "c")
my_dict = {"key": "value"}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'key': 'value'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [47]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[1, 2, 30, 37, 84]

28. Write a code to create a list with strings and print the element at the third index.

In [48]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])  # Output: date

date

29. Write a code to combine two dictionaries into one and print the result.

In [49]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [50]:
fruits = ["apple", "banana", "apple", "orange"]
fruit_set = set(fruits)
print(fruit_set)

{'banana', 'apple', 'orange'}